<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="component">
    <!-- Container fluid end -->

    <!-- *************
        ************ Required JavaScript Files *************
    ************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/moment.js}"></script>


    <!-- *************
        ************ Vendor Js Files *************
    ************* -->
    <!-- Slimscroll JS -->
    <script th:src="@{/vendor/slimscroll/slimscroll.min.js}"></script>
    <script th:src="@{/vendor/slimscroll/custom-scrollbar.js}"></script>

    <!-- Daterange -->
    <script th:src="@{/vendor/daterange/daterange.js}"></script>
    <script th:src="@{/vendor/daterange/custom-daterange.js}"></script>


    <!-- Main Js Required -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

    <!-- Gallery JS -->
    <script th:src="@{/vendor/gallery/baguetteBox.js}" async></script>
    <script th:src="@{/vendor/gallery/plugins.js}" async></script>
    <script th:src="@{/vendor/gallery/custom-gallery.js}" async></script>




    <!-- *************
            ************ Required JavaScript Files *************
        ************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->

    <!--    <script type="text/javascript" th:src="@{/js/toasty.js}"></script>-->
    <script th:src="@{/js/jquery.easing.1.3.js}"></script>
    <script th:src="@{/vendor/notify/notify.js}"></script>
    <script th:src="@{/vendor/notify/notify-custom.js}"></script>


    <script th:src="@{/vendor/datepicker/js/picker.js}"></script>
    <script th:src="@{/vendor/datepicker/js/picker.date.js}"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>


    <!-- Data Tables -->
    <script th:src="@{/vendor/datatables/dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/vendor/datatables/custom/custom-datatables.js}"></script>
    <script th:src="@{/vendor/datatables/custom/fixedHeader.js}"></script>



    <!-- Chartist JS -->
<!--    <script th:src="@{/vendor/chartist/js/chartist-tooltip.js}"></script>-->
<!--    <script th:src="@{/vendor/chartist/js/custom/pie/pie-charts3.js}"></script>-->
<!--    <script th:src="@{/vendor/chartist/js/custom/area/custom-area-chart.js}"></script>-->
<!--    <script th:src="@{/vendor/chartist/js/custom/area/custom-area-chart2.js}"></script>-->
<!--    <script th:src="@{/vendor/chartist/js/custom/bar/bar-chart.js}"></script>-->
    <script th:src="@{/vendor/chartist/js/chartist.min.js}"></script>


    <!-- Daterange -->
    <script th:src="@{/vendor/daterange/daterange.js}"></script>
    <script th:src="@{/vendor/daterange/custom-daterange.js}"></script>

<!--    &lt;!&ndash; Morris Graphs &ndash;&gt;-->
    <script th:src="@{/vendor/morris/raphael-min.js}"></script>
    <script th:src="@{/vendor/morris/morris.min.js}"></script>

<!--    <script th:src="@{/vendor/morris/custom/xLabelsDiagonally.js}"></script>-->
<!--    <script th:src="@{/vendor/morris/custom/barColors.js}"></script>-->
<!--    <script th:src="@{/vendor/morris/custom/barNoAxis.js}"></script>-->
<!--    <script th:src="@{/vendor/morris/custom/dayData.js}"></script>-->
<!--    <script th:src="@{/vendor/morris/custom/donutColors.js}"></script>-->
<!--    <script th:src="@{/vendor/morris/custom/donutFormatter.js}"></script>-->
<!--    <script th:src="@{/vendor/morris/custom/morrisBarChart.js}"></script>-->
<!--    <script th:src="@{/vendor/morris/custom/negativeValues.js}"></script>-->
<!--    <script th:src="@{/vendor/morris/custom/billStackedBarChart.js}"></script>-->

    <!-- Apex Charts -->
    <script th:src="@{/vendor/apex/apexcharts.min.js}"></script>



<!--    <script th:src="@{/js/jquery-ui-1.10.4.custom.min.js}"></script>-->
<!--    <script th:src="@{/js/jquery.tabelizer.js}"></script>-->





</div>
</body>
</html>
