<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div aria-hidden="true" aria-labelledby="customModalLabel" class="modal fade model_m_set_input" id="myModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalHeading">Modal</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalContent">
                </div>

                <div class="popup_loader" id="popup_loader">
                    <div class="loader" id="loader"></div>
                    <div class="loader" id="loader2"></div>
                    <span id="text">LOADING...</span>
                </div>
            </div>
            <div class="modal-footer custom">
            </div>
        </div>
    </div>
</div>

</body>
</html>
