<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body topmargin="0" leftmargin="0">

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="formcontent">

    <div class="row">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-4 padd_0">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Change Password</div>
                </div>
                <div class="card-body">
                    <div class="alert m_b_25" id="serverResponse" style="display: none" role="alert"><span
                            class="image model_alert_ico"><i class="icon-alert-triangle"></i></span>
                    </div>

                    <form name="frm" class="password_strength_meter" th:action="@{/user/savePassword}" method="Post"
                          id="chpassForm">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input id="currPassword" name="currPassword" type="password"
                                               class="form-control"
                                               placeholder="Current Password" size=35 maxlength=15 required>
                                        <span id="current-pass-status" class="icon-eye" aria-hidden="true"
                                              onClick="viewCurrentPassword()"></span>
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label class=" control-label" for="passwordinput">New Password <span
                                                id="popover-password-top" class="hide pull-right block-help"><span
                                                class="icon-info-with-circle"></span> Enter a strong password</span></label>

                                        <input id="password" name="newPassword" type="password"
                                               placeholder="New Password" size=35 maxlength=15 required
                                               class="form-control input-md" data-placement="bottom"
                                               data-toggle="popover" data-container="body"
                                               data-html="true">
                                        <span id="pass-status" class="icon-eye" aria-hidden="true"
                                              onClick="viewPassword()"></span>
                                        <div id="popover-password">
                                            <p>Password Strength: <span id="result"> </span></p>
                                            <div class="progress">
                                                <div id="password-strength"
                                                     class="progress-bar progress-bar-success"
                                                     role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                     aria-valuemax="100" style="width:0%">
                                                </div>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class=""><span class="low-upper-case icon-check-circle"></span>&nbsp;
                                                    1 lowercase &amp; 1 uppercase
                                                </li>
                                                <li class=""><span class="one-number icon-check-circle"></span>
                                                    &nbsp;1 number (0-9)
                                                </li>
                                                <li class=""><span
                                                        class="one-special-char icon-check-circle"></span>
                                                    &nbsp;1 Special Character (!@#$%^&*).
                                                </li>
                                                <li class=""><span class="eight-character icon-check-circle"></span>&nbsp;
                                                    Atleast 8 Character
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Password input-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class=" control-label" id="passwordinput">Password Confirmation
                                            <span id="popover-cpassword" class="hide pull-right block-help"><span
                                                    class="icon-info-with-circle"></span> Password don't match</span></label>

                                        <input id="confirm-password" name="confirmPassword" type="password"
                                               placeholder="Confirm Password" size=35 maxlength=15 required
                                               class="form-control input-md">
                                        <span id="con-pass-status" class="icon-eye" aria-hidden="true"
                                              onClick="viewConPassword()"></span>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button id="changePassword"
                                            class="btn btn-outline-secondary btn-rounded float-right" type="submit"
                                            name="Save">Change Password <span class="icon-lock_outline"></span></button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4"></div>
    </div>

    <script>
        $('document').ready(function () {
            var serverResponse = $('#serverResponse');
            $("#chpassForm").submit(function (event) {
                event.preventDefault(); //prevent default action
                var post_url = $(this).attr("action"); //get form action url
                var form_data = $(this).serialize(); //Encode form elements for submission
                var strength = $("#result").text();
                console.log("strength", strength)
                if (strength === "Strong") {
                    if ($('#password').val() !== $('#confirm-password').val()) {
                        serverResponse.addClass("alert-warning");
                        serverResponse.html("Please Confirm new password.");
                        serverResponse.show();
                    } else {
                        $.post(post_url, form_data, function (data) {
                            var json = JSON.stringify(data, null, 4);
                            data = json.replace('"', '').replace('"', '');
                            console.log(data);
                            if (data.indexOf("successfully") != -1) {
                                $('#currPassword').val("");
                                $('#password').val("");
                                $('#confirm-password').val("");
                                serverResponse.removeClass("alert-warning");
                                serverResponse.addClass("alert-success");
                                serverResponse.html(json.replace('"', '').replace('"', ''));
                                serverResponse.show();

                            } else if (data.indexOf("password is not valid") !== -1 || data.indexOf("same as current") !== -1 || data.indexOf("Please Login Again") !== -1) {
                                serverResponse.addClass("alert-warning");
                                serverResponse.html(data);
                                serverResponse.show()
                            } else {
                                serverResponse.addClass("alert-warning");
                                serverResponse.html(data);
                                serverResponse.show()
                            }
                            // var json = JSON.stringify(data, null, 4);
                            // $('#serverResponse').html(json.replace('"', '').replace('"', ''));

                        });
                    }

                } else {
                    serverResponse.addClass("alert-warning");
                    serverResponse.html("Please provide a strong password.");
                    serverResponse.show()
                }


            });
        });

        function viewPassword() {
            var passwordInput = document.getElementById('password');
            var passStatus = document.getElementById('pass-status');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passStatus.className = 'icon-eye-off';

            } else {
                passwordInput.type = 'password';
                passStatus.className = 'icon-eye';
            }
        }

        function viewConPassword() {
            var passwordInput = document.getElementById('confirm-password');
            var passStatus = document.getElementById('con-pass-status');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passStatus.className = 'icon-eye-off';

            } else {
                passwordInput.type = 'password';
                passStatus.className = 'icon-eye';
            }
        }

        function viewCurrentPassword() {
            var passwordInput = document.getElementById('currPassword');
            var passStatus = document.getElementById('current-pass-status');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passStatus.className = 'icon-eye-off';

            } else {
                passwordInput.type = 'password';
                passStatus.className = 'icon-eye';
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#password').keyup(function () {
                var password = $('#password').val();
                if (checkStrength(password) === false) {
                    $('#changePassword').attr('disabled', true);
                }
            });
            $('#confirm-password').blur(function () {
                if ($('#password').val() !== $('#confirm-password').val()) {
                    $('#popover-cpassword').removeClass('hide');
                    $('#changePassword').prop('disabled', true);
                } else {
                    $('#popover-cpassword').addClass('hide');
                    $('#changePassword').prop('disabled', false);
                }
            });
            $('#changePassword').hover(function () {
                if ($('#changePassword').prop('disabled')) {
                    $('#changePassword').popover({
                        html: true,
                        trigger: 'hover',
                        placement: 'below',
                        offset: 20,
                        content: function () {
                            return $('#sign-up-popover').html();
                        }
                    });
                }
            });

            function IsEmail(email) {
                var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!regex.test(email)) {
                    return false;
                } else {
                    return true;
                }
            }

            function checkStrength(password) {
                var strength = 0;


                //If password contains both lower and uppercase characters, increase strength value.
                if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) {
                    strength += 1;
                    $('.low-upper-case').addClass('text-success');
                    $('.low-upper-case i').removeClass('fa-file-text').addClass('fa-check');
                    $('#popover-password-top').addClass('hide');


                } else {
                    $('.low-upper-case').removeClass('text-success');
                    $('.low-upper-case i').addClass('fa-file-text').removeClass('fa-check');
                    $('#popover-password-top').removeClass('hide');
                }

                //If it has numbers and characters, increase strength value.
                if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) {
                    strength += 1;
                    $('.one-number').addClass('text-success');
                    $('.one-number i').removeClass('fa-file-text').addClass('fa-check');
                    $('#popover-password-top').addClass('hide');

                } else {
                    $('.one-number').removeClass('text-success');
                    $('.one-number i').addClass('fa-file-text').removeClass('fa-check');
                    $('#popover-password-top').removeClass('hide');
                }

                //If it has one special character, increase strength value.
                if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) {
                    strength += 1;
                    $('.one-special-char').addClass('text-success');
                    $('.one-special-char i').removeClass('fa-file-text').addClass('fa-check');
                    $('#popover-password-top').addClass('hide');

                } else {
                    $('.one-special-char').removeClass('text-success');
                    $('.one-special-char i').addClass('fa-file-text').removeClass('fa-check');
                    $('#popover-password-top').removeClass('hide');
                }

                if (password.length > 7) {
                    strength += 1;
                    $('.eight-character').addClass('text-success');
                    $('.eight-character i').removeClass('fa-file-text').addClass('fa-check');
                    $('#popover-password-top').addClass('hide');

                } else {
                    $('.eight-character').removeClass('text-success');
                    $('.eight-character i').addClass('fa-file-text').removeClass('fa-check');
                    $('#popover-password-top').removeClass('hide');
                }


                // If value is less than 2

                if (strength < 2) {
                    $('#result').removeClass()
                    $('#password-strength').addClass('progress-bar-danger');

                    $('#result').addClass('text-danger').text('Very Weak');
                    $('#password-strength').css('width', '10%');
                } else if (strength == 2) {
                    $('#result').addClass('good');
                    $('#password-strength').removeClass('progress-bar-danger');
                    $('#password-strength').addClass('progress-bar-warning');
                    $('#result').addClass('text-warning').text('Weak')
                    $('#password-strength').css('width', '60%');
                    return 'Weak'
                } else if (strength == 4) {
                    $('#result').removeClass()
                    $('#result').addClass('strong');
                    $('#password-strength').removeClass('progress-bar-warning');
                    $('#password-strength').addClass('progress-bar-success');
                    $('#result').addClass('text-success').text('Strong');
                    $('#password-strength').css('width', '100%');

                    return 'Strong'
                }

            }

        });
    </script>
</div>
</body>
</html>
